#Vagrant directories
.vagrant/

#Gradle directories
.gradle/

#Idea directories
.idea/
*.iml
*.ipr
*.iws

#Build dirs
build/
out/

#Submodules
FreeSHR-Playbooks/
openmrs-atomfeed/
openmrs-module-freeshr_terminology_feed/
openmrs-module-terminology_atomfeed_client/
